<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/caab41a0-c949-42f4-97cf-6073509984e5/resourcegroups/win11rg/providers/Microsoft.ContainerRegistry/registries/WebApplication120231021195737</ResourceId>
    <ResourceName>WebApplication120231021195737</ResourceName>
    <ResourceGroup>win11rg</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://webapplication120231021195737.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e4b60ecb-dc3b-4c71-8b34-d6d280c894b1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>